/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* background-color: #C6F5F8; */

  background-image: url("/static/img/homeless1.5.jpg");
  background-repeat: no-repeat;
  background-size: 1300px 600px;
 
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  margin-left: auto;
  margin-right: auto;  
  background-color: #DDFDFF;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}